@import "./mixins";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Space Grotesk", sans-serif;
    scroll-behavior: smooth;
}

body {
    @include font(2.4rem, 3.2rem, -0.04rem);
}

input {
    border: none;
    font-family: "Space Grotesk", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1,
h2 {
    @include font(4.8rem, 5.2rem, -0.1rem);
    color: $dark-primary;
}

h3 {
    @include font(2.4rem, 3.2rem, -0.04rem);
}

p,
input {
    @extend h3;
    font-weight: 300;
    color: $dark-secondary;
}