$dark-primary: #000000;
$dark-secondary: #1B191C;
$light-primary: #F5F6F7;
$light-secondary: #EEEEEE;
$accent: #F8D231;
$inactive: #CFD3D6;
$white: #FFFFFF;
$icon: #323033;
$placeholder: #A4A3A4;
$line: #919E9F;