$dark-primary: #000000;
$dark-secondary: #1B191C;
$light-primary: #F5F6F7;
$light-secondary: #EEEEEE;
$accent: #F8D231;
$inactive: #CFD3D6;
$error: #C6A827;
$white: #FFFFFF;
$icon: #323033;
$placeholder: #A4A3A4;
$line: #919E9F;

$laptop: 1100px;
$tablet: 740px;
$mobile-xl: 616px;
$mobile-l: 500px;